
body {
  width: 100%
  height: 100%
  padding: 0;
  margin: 0 auto;
  background-color: #ff2f00;
  font-family: 'Encode Sans Expanded', sans-serif;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.logo  {
  margin: 20px;
  padding: 4px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff2f00;
  display: inline-block;
}

.logo:hover {
  background-color: white;
}

#logo {
  text-decoration: none;
  color: white;
}

#logo:hover {
  color: #ff2f00;
}

#container {
  height: 50vh;
}

h1 {
text-align: center;
font-size: 80px;
color: white;
padding-top: 20%;
}

span {
  border-bottom: 12px solid white;
  margin-bottom: 0;
}

#wordChange2 {
  display: none;
}

#wordChange3 {
  display: none;
}

#wordChange4 {
  display: none;
}

#wordChange5 {
  display: none;
}

#wordChange6 {
  display: none;
}

#wordChange7 {
  display: none;
}

#wordChange8 {
  display: none;
}

#wordChange9 {
  display: none;
}

#wordChange10 {
  display: none;
  animation: fadeOut 4s;
}

#wordChange11 {
  display: none;
  text-align: center;
  font-size: 80px;
  color: white;
  padding-top: 20%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
