@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:200,300,400,500,600,700');

* {
  /*border: solid green 1px;*/
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #232020;
  margin: 0 auto;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

/*////////////////////////HOME//////////////////////////*/

.logo {
  padding: 2px;
  margin: 20px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff2f00;
  display: inline-block;
}

main {
  width: 100vw;
  position: relative;
}

.greeting {
  color: white;
  font-size: 70px;
  font-weight: 700;
  margin: 40px;
  max-width: 1200px;

}

.gridContainer {
  max-width: 990px;
  max-height: 1340px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 150px;
  padding: 0;
  border: 15px white solid;
}

.square {
  width: 480px;
  height: 480px;
  padding: 0;
  margin-top: -5px;
  margin-right: 0;
  display: inline-block;
  background-color: red;
}

img {
  width: 480px;
  height: 480px;
}

#lastRow {
  margin-bottom: 240px;
}

/*////////////////////////ASIDE//////////////////////////*/

.emailContainer {
  width: 270px;
  height: 55vh;
  position: sticky;
  vertical-align: top;
  margin-left: 1140px;
  margin-top: -1300px;
  background-color: white;
  border: solid 15px #2000ff;
  display: inline-block;
}

.contactHeading {
  color: #2000ff;
  font-size: 32px;
  padding-left: 9px;
}

.details {
  color: #2000ff;
  font-size: 15px;
  padding-left: 9px;
}

.statNumber {
  color: #2000ff;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.statDetails {
  color: #2000ff;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 22px;
  margin-top: -5px;
  margin-bottom: 45px;
}

.fineprint {
  color: #2000ff;
  font-size: 11px;
  padding-left: 9px;
}

/*///////////////////////PROJECT LINK/////////////////////////*/

.projectLink {
  height: 100%;
  width: 70px;
  background-color: #ff2f00;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.projectLink:hover {
  transform: scaleX(2);
}


/*///////////////////////FOOTER/////////////////////////*/

footer {
  padding: 10px;
  background-color: #2000ff;
  text-align: center;
  font-weight: 400;
  font-size: 51px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
