@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:200,300,400,500,600,700');

* {
  /*border: solid green 1px;*/
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #232020;
  margin: 0 auto;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

/*////////////////////////HOME//////////////////////////*/

.logo  {
  margin: 20px;
  padding: 2px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff2f00;
  display: inline-block;
}

.logo:hover {
  transform: scaleY(1.5);
  background-color: white;
}

#logo {
  text-decoration: none;
  color: white;
}

#logo:hover {
  color: #ff2f00;
}

main {
  width: 100vw;
  position: relative;
}

.greeting {
  color: white;
  font-size: 70px;
  font-weight: 700;
  margin: 40px;
  max-width: 1200px;
}

.gridContainer {
  max-width: 1000px;
  max-height: 1473px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 150px;
  padding: 0;
  border: 20px white solid;
}

.square {
  width: 480px;
  height: 480px;
  padding: 0;
  margin-top: -5px;
  margin-right: 0;
  display: inline-block;
  background-color: red;
}

/*.square:hover {
  border: solid 20px #ff2f00;
}*/

img {
  width: 480px;
  height: 480px;
}

#lastRow {
  margin-bottom: 240px;
}

/*////////////////////////ASIDE//////////////////////////*/

.emailContainer {
  width: 270px;
  height: 55vh;
  position: sticky;
  vertical-align: top;
  margin-left: 1140px;
  margin-top: -1300px;
  background-color: white;
  border: solid 15px #2000ff;
  display: inline-block;
}

.statNumber {
  color: #2000ff;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding-top: 40px;
  margin-bottom: 0;
}

.statDetails {
  color: #2000ff;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 22px;
  margin-top: 0;
}

.fineprint {
  color: #2000ff;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}


/*///////////////////////PROJECT LINK/////////////////////////*/

.projectLink {
  height: 100%;
  width: 70px;
  background-color: #ff2f00;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.projectLink:hover {
  width: 90px;
}

#contact {
  font-size: 40px;
  color: white;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
  margin: 10px;
  font-weight: 400;
  height: 65vh;
}

#contact:hover {
  cursor: pointer;
}

#overlay {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ff2f00;
  width: 100%;
  height: 100%;
}


#overlaySubContainer {
  padding: 5%;
}

.fa.fa-window-close-o {
  color: white;
  font-size: 80px;
  display: block;
  text-align: right;
  margin: -30px 0px 80px 0px;
  font-weight: 100;
}

.fa.fa-window-close-o:hover {
  cursor: pointer;
}

.overlayInfo {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 300;
}

.contactLink {
  color: white;
  text-decoration: none;
  margin-bottom: -5px;
  font-weight: 600;
}

.contactLink:hover {
  border-bottom: 12px solid #2000ff;
  color: #2000ff;
}

/*///////////////////////FOOTER/////////////////////////*/

footer {
  /*width: 100%;*/
  height: 80px;
  background-color: #2000ff;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  padding: 10px;
}

#footerLink {
  display: block;
  text-decoration: none;
  color: white;
  padding: 2px;
}

#footerLink:hover {
  padding: 5px;
}
